<div class="flex mb-12">
  <%= search_form_for @q, data: {turbo_frame: :results, turbo_action: 'advance'}, id: :search_form do |f| %>
    <%= f.search_field :name_or_language_name_cont,
        oninput: 'this.form.requestSubmit();',
        placeholder: 'Search',
        class: 'block flex-1 rounded-md bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400'
    %>
  <% end %>

  <select name="q[status_eq]" form="search_form" onChange="this.form.requestSubmit()"class="ml-8 rounded-md bg-transparent py-1.5 pl-1 px-8 text-gray-900 placeholder:text-gray-400">
    <option value="">Todos</option>
    <option value="true">Ativos</option>
    <option value="false">Inativos</option>
  </select>

  <%= link_to 'Clear filter', employees_path, class: 'text-sm px-5 py-2.5' %>
</div>